In [4]:
import pandas as pd

##Data Collection

In [54]:
path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/00603/in-vehicle-coupon-recommendation.csv'
data = pd.read_csv(path)
data.head()

       destination  passanger weather  ...  direction_same direction_opp  Y
0  No Urgent Place      Alone   Sunny  ...               0             1  1
1  No Urgent Place  Friend(s)   Sunny  ...               0             1  0
2  No Urgent Place  Friend(s)   Sunny  ...               0             1  1
3  No Urgent Place  Friend(s)   Sunny  ...               0             1  0
4  No Urgent Place  Friend(s)   Sunny  ...               0             1  0

[5 rows x 26 columns]

##Data Definition

In [55]:
#Number of obseration and features
data.shape

(12684, 26)

In [56]:
data.columns

Index(['destination', 'passanger', 'weather', 'temperature', 'time', 'coupon',
       'expiration', 'gender', 'age', 'maritalStatus', 'has_children',
       'education', 'occupation', 'income', 'car', 'Bar', 'CoffeeHouse',
       'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50',
       'toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min',
       'direction_same', 'direction_opp', 'Y'],
      dtype='object')

In [57]:
#information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

In [58]:
#statistic of the data
data.describe()

        temperature  has_children  ...  direction_opp             Y
count  12684.000000  12684.000000  ...   12684.000000  12684.000000
mean      63.301798      0.414144  ...       0.785241      0.568433
std       19.154486      0.492593  ...       0.410671      0.495314
min       30.000000      0.000000  ...       0.000000      0.000000
25%       55.000000      0.000000  ...       1.000000      0.000000
50%       80.000000      0.000000  ...       1.000000      1.000000
75%       80.000000      1.000000  ...       1.000000      1.000000
max       80.000000      1.000000  ...       1.000000      1.000000

[8 rows x 8 columns]

In [59]:
data['age'].unique()

array(['21', '46', '26', '31', '41', '50plus', '36', 'below21'],
      dtype=object)

In [60]:
data['temperature'].unique()

array([55, 80, 30])

# Data Discribtion

In [61]:
data.describe()

        temperature  has_children  ...  direction_opp             Y
count  12684.000000  12684.000000  ...   12684.000000  12684.000000
mean      63.301798      0.414144  ...       0.785241      0.568433
std       19.154486      0.492593  ...       0.410671      0.495314
min       30.000000      0.000000  ...       0.000000      0.000000
25%       55.000000      0.000000  ...       1.000000      0.000000
50%       80.000000      0.000000  ...       1.000000      1.000000
75%       80.000000      1.000000  ...       1.000000      1.000000
max       80.000000      1.000000  ...       1.000000      1.000000

[8 rows x 8 columns]

* The column toCoupon_GEQ5min have unique value in all obsveration, should drop this column.

# Data Cleaning

In [62]:
data.isnull().sum()

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [63]:
#number of null value of car over total number of obseration
data.car.isnull().sum()/len(data)

0.9914853358561968

In [64]:
#Since 99% of entry of the feature 'car' is null, so drop this feature. 
data1 = data.drop('car', axis=1)

In [65]:
#Check if there exist any unique column
#if exist, drop that column
unique_col = []
for col in data1.columns:
  if len(data1[col].unique())==1:
    unique_col.append(col)
    print('This column has unique value:', col)
print('The number of columns with unique values is:', len(unique_col))

This column has unique value: toCoupon_GEQ5min
The number of columns with unique values is: 1

In [66]:
#Drop the column toCoupon_GEQ5min
data1.drop(columns='toCoupon_GEQ5min', axis=1, inplace=True)

In [75]:
num_dupli_cols = sum(data1.duplicated())
print('Number of duplicated row is', num_dupli_cols)

Number of duplicated row is 74

In [68]:
#Drop the duplicated columns
data2 = data1[~data1.duplicated()]
data2.shape

(12610, 24)

Here are the features that have missing value:

* Bar: never, less1, 1-3, gt8, nan4-8 (feature meaning: how many times do you go to a bar every month?)

* CoffeeHouse: never, less1, 4-8, 1-3, gt8, nan (feature meaning: how many times do you go to a coffeehouse every month?)

* CarryAway:n4~8, 1-3, gt8, less1, never (feature meaning: how many times do you get take-away food every month?)

* RestaurantLessThan20: 4-8, 1-3, less1, gt8, never (feature meaning: how many times do you go to a restaurant with an average expense per person of less than $20 every month?)

* Restaurant20To50: 1-3, less1, never, gt8, 4-8, nan (feature meaning: how many times do you go to a restaurant with average expense per person of $20 - $50 every month?)

In [74]:
len(data2[data2.CoffeeHouse.isnull()])/len(data2)

0.017208564631245045

* Ratio of observations with missing values is 1.7%

In [70]:
# drop all the columns with missing value
data3 = data2.dropna(axis=0)
data3.shape

(12007, 24)

In [71]:
data3.isnull().sum()

destination             0
passanger               0
weather                 0
temperature             0
time                    0
coupon                  0
expiration              0
gender                  0
age                     0
maritalStatus           0
has_children            0
education               0
occupation              0
income                  0
Bar                     0
CoffeeHouse             0
CarryAway               0
RestaurantLessThan20    0
Restaurant20To50        0
toCoupon_GEQ15min       0
toCoupon_GEQ25min       0
direction_same          0
direction_opp           0
Y                       0
dtype: int64

In [72]:
path = '/content/drive/MyDrive/Springboard/CapstoneProject2/data/coupon_data.csv'
data3.to_csv(path)